.header {
  background-color: var(--background-color-main);
  width: 100%;
  color: white;

  hr {
    border: none;
    border-bottom: 1px solid var(--background-color-second);
  }

  .header-top {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .right {
      font-size: 12px;
      padding: 10px 0px;
    }

    .left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 10px 0px;
      font-size: 12px;
    }

    a {
      color: white;
      padding: 0 10px;
      border-right: 1px solid var(--background-color-second);
    }
    .dropdown {
      color: white;
      display: flex;
      align-items: center;
      height: 0;

      .drop-select {
        color: white;
        font-size: 14px;
      }
      .MuiSelect-icon {
        color: white;
      }

      .MuiOutlinedInput-notchedOutline {
        border: none;
      }
    }
  }

  .header-upper {
    padding: 10px 0;
    .container {
      display: flex;
      align-items: center;
    }

    .logo {
      flex: 1;
      padding: 10px 0;
      font-weight: 500;
      font-size: 26px;
      color: white;
      margin-right: 130px;

      .text {
        color: white;
        font-weight: 400;
        font-size: 32px;
      }
    }

    .left-section {
      display: flex;
      flex: 7;

      justify-content: space-between;

      .search {
        flex: 3;
        height: 100%;
        display: flex;

        .input {
          display: block;
          font-size: 16px;
          height: 40px;
          width: 100%;
          outline: none;
          border: none;
          padding: 10px;
          border-radius: 4px 0 0 4px;
        }
        .search-button {
          background-color: var(--bg-button);
          border: none;
          outline: 0;
          width: 40px;
          height: 40px;
          border-radius: 0 4px 4px 0;
          display: flex;
          align-items: center;
          justify-content: center;

          cursor: pointer;

          .icon {
            font-size: 16px;
          }
        }
      }

      .left {
        flex: 3;
        display: flex;
        justify-content: flex-end;
        font-weight: 400;
        font-size: 14px;

        .item {
          display: flex;
          margin-left: 15px;
          font-weight: 300;

          .icon {
            font-size: 50px;
            margin-right: 5px;
            stroke-width: 1px;

            &.cart {
              color: var(--bg-button);
            }
          }

          .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .count {
              display: flex;
              justify-content: center;
              background-color: aliceblue;
              color: black;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }

  .header-bottom {
    background-color: var(--background-color-second);
    padding: 15px 0;

    .container {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .categories-side {
      display: flex;
      align-items: center;
      gap: 20px;
      text-transform: uppercase;
      border-right: 1px solid grey;
      cursor: pointer;

      .categories-title {
        font-size: 14px;
      }

      .arrow-icon {
        margin-right: 15px;
      }
    }

    .menu-side {
      .list-menu {
        display: flex;
        list-style: none;
        text-transform: uppercase;
        gap: 30px;

        .item-menu {
          display: flex;
          align-items: center;
          color: white;

          .link {
            color: white;
            font-size: 14px;
          }
        }
      }
    }
  }
}
